body {
    font-family: 'Roboto';
    font-size: 16px;
    margin: 0;
}

.initial-view {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -72px;
    margin-left: -140px;
    width: 280px;
    text-align: center;
}

.initial-view__fail {
    color: red;
}