body {
    font-family: 'Roboto';
    font-size: 16px;
    margin: 0;
}

#sign-in,
.initial-view,
.files-list,
.screan-center {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -145px;
    transform: translateY(-50%);
}

.initial-view {
    text-align: center;
}

.fail-to-start {
    color: red;
}

.row-first-cell {
    margin-right: 10px
}

.text-right {
    text-align: right;
}